<header id="header" class="fixed-top">

    <nav class="navbar mx-3 px-5">
        <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="portfolio.html">Your Profile</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <ul>
            <li><a href="/register" class="register"">Register</a></li>
            <li><a href="/login" class="getstarted">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</header>