<header id="header" class="fixed-top">

    <nav class="navbar mx-3 px-5">
        <ul>
            <li><a href="/" class="{{ 'active' if request.path == '/' }}">Homepage</a></li>
            <li><a href="/portfolio" class="{{ 'active' if request.path == '/portfolio' }}">Your Profile</a></li>
            <li><a href="/services" class="{{ 'active' if request.path == '/services' }}">Contact Us</a></li>
            <li><a href="/pricing" class="{{ 'active' if request.path == '/pricing' }}">Pricing</a></li>
        </ul>
        <ul>
            {% if session['user_id'] %}
                <li><a href="/logout" class="getstarted">Logout</a></li>
            {% else %}
                <li><a href="/register" class="register">Register</a></li>
                <li><a href="/login" class="getstarted">Login</a></li>
            {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</header>