{% extends "layout.html" %}

{% block title %}
Personal information
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center vh-100">
        <div class="box container" style="max-width: 80vw;">
            <div class="card-header" style="text-align: center;">Personal Information</div>
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-warning">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                {% endwith %}
                <form action="/personal" method="POST">
                    <div class="row gx-5">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="name">Your Full Name</label>
                                <input type="text" class="form-control" name="name" id="name" autofocus required>
                            </div>
                            <div class="form-group my-3">
                                <label for="age">Your Age</label>
                                <input type="number" class="form-control" name="age" id="age" step="1" min="1" max="180" required>
                            </div>
                            <div class="form-group my-3">
                                <label for="ward">Distinguished mark</label>
                                <input type="text" class="form-control" name="ward" id="ward" autocomplete="off">
                            </div>
                            <div class="form-group my-3">
                                <label for="sex">Biological Sex</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sex" id="male" value="male" required>
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sex" id="female" value="female" required>
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="city">Your City</label>
                                <br>
                                <select id="city" name="city">
                                    <option value="--Select a City--" disabled selected>--Select a City--</option>
                                    {% for key, value in location.items() %}
                                    <option value="{{ key }}">{{ value['name_with_type'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group my-3">
                                <label for="height">Your Height</label>
                                <br>
                                <select id="height" name="height">
                                    <option disabled selected>--Your approximate height--</option>
                                    {% for key, value in height.items() %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group my-3">
                                <label for="phone">Phone</label>
                                <input type="tel" class="form-control" name="phone" id="phone" autocomplete="off" required>
                            </div>
                            <div class="form-group my-3">
                                <label for="mail">Mail</label>
                                <input type="email" class="form-control" name="mail" id="mail" autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="my-4" style="text-align: center;"><button type="submit" class="login">Save my information</button></div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
