{% extends "layout.html" %}

{% block title %}
Your Profile
{% endblock %}

{% block body %}
    {% include "navbar.html" %}
    <br><br>
    <div class="row m-4 p-3 gx-5">
        <div class="col-md-4">
            <!-- Card 5 -->
            <div class="mb-4" id="card5">
                <img src="{{ photo_path or 'https://img.myloview.com/stickers/default-avatar-profile-icon-vector-social-media-user-photo-700-205577532.jpg' }}">
            </div>
            {% with messages = get_flashed_messages %}
                {% if messages and messages[0] %}
                    <div class="alert alert-warning">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="row mb-4">
                <form action="/portfolio" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit" class="getstarted" value="Upload File">
                </form>                
            </div>

            <div class="row">
                <!-- Card 6 -->
                <div class="" id="card6">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Card 7 -->
            <div class="" id="card7">
                <h3 class="mb-3">Your name:</h3>
                <div class="alert alert-dark">{{ details['name'] }}</div>

                <h3 class="mb-3">Your username:</h3>
                <div class="alert alert-dark">{{ details['username'] }}</div>
                
                <h3 class="mb-3">Your age:</h3>
                <div class="alert alert-dark">{{ details['age'] }}</div>

                {% if details['biological_sex'] == 0 %}
                <h3 class="mb-3">Your gender:</h3>
                <div class="alert alert-dark">Female</div>
                {% else %}
                <h3 class="mb-3">Your gender:</h3>
                <div class="alert alert-dark">Male</div>
                {% endif %}

                <h3 class="mb-3">Your phone:</h3>
                <div class="alert alert-dark">{{ details['phone'] }}</div>

                <h3 class="mb-3">Your mail:</h3>
                <div class="alert alert-dark">{{ details['mail'] }}</div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Card 8 -->
            <div class="" id="card8">
                <h1 style="text-align: center;">HISTORY</h1>
                <hr>
                <div>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Match ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Timestamp</th>
                          </tr>
                        </thead>
                        <!-- <tbody>
                          {% for user in users %}
                          <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ user.first }}</td>
                            <td>{{ user.last }}</td>
                            <td>{{ user.handle }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>                       -->
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}