{% extends "layout.html" %}

{% block title %}
Consent Page
{% endblock %}

{% block body %}
    <div class="container my-5 consent">
        <div class="card-header" style="text-align:center">
            Privacy Notice
        </div>
        <div class="card-body px-5">
            <h3>Welcome to our website 👋🏻<br>Your privacy is important to us. </h3>
            <p>
                <br>Please read this Privacy Notice before using our site or submitting any personal information. By using our site, you accept the practices described in this Privacy Notice. These practices may change from time to time, and any changes will be posted. You are encouraged to review the Privacy Notice whenever you visit the site to make sure you understand how any personal information you provide will be used. 
            </p>

            <h3>Collection of Information.</h3>
            <p>
                We collect personally identifiable information, like names, email addresses, etc., when voluntarily submitted by our visitors. This information is only used to fulfill your specific request unless you give us permission to use it in another manner. 
            </p>

            <h3>Distribution of Information.</h3>
            <p> We may share information with governmental agencies or companies assisting us in fraud prevention or investigation. We may do so when:</p>
            <ul>
                <li>(1) permitted or required by law; or, </li>
                <li>(2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, </li>
                <li>(3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.</li>
            </ul>

            <h3>Commitment to Data Security.</h3>
            <p>
                Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information.
            </p>

            <h3>Privacy Contact Information.</h3>
            <p> If you have any questions, concerns, or comments about our privacy policy, you may contact us.
                We reserve the right to make changes to this policy. Any changes to this policy will be posted.
            </p>

            <div style="text-align: center;">
                <a href="/"><button type="submit" class="btn btn-dark">I understand and agreed</button></a>
            </div>
            
        </div>
    </div>

{% endblock %}
