<header id="header" class="fixed-top">

    <nav class="navbar mx-3 px-5">
        <ul>
            <li><i><a class="nav-link disabled" aria-disabled="true">Reconnect: "Locate your missing loved ones"</a></i></li>
            <li><a href="/" class="{{ 'active' if request.path == '/' }}">Homepage</a></li>
            <li><a href="/portfolio" class="{{ 'active' if request.path == '/portfolio' }}">Your Profile</a></li>
        </ul>
        <ul>
            {% if session['username'] %}
                <a href="/logout" id="logout"><button class="btn btn-dark">Logout</button></a>
            {% else %}
                <li><a href="/register"><button class="btn-secondary">Register</button></a></li>
                <li><a href="/login"><button class="btn btn-dark">Login</button></a></li>
            {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</header>